.boo {
  display: flex;
  margin: 5px;
  padding: 5px;
  max-width: 50vw;
  min-width: 5vw;
  min-height: 5vh;
  max-height: 50vh;
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.btn {
  width: 10vw;
  height: 5vw;
}

.btnDiv {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}

.clicked {
  background-color: #9eaccb;
  position: relative;
  box-shadow: 0px 0px 2px 2px black;
}

.mybtn {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  background-size: 400%;
  border-radius: 5px;
  line-height: 50px;
  z-index: 0;
}
